.myButton {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: white;
}
.myButton:hover {
  background-color: greenyellow;
  transition-duration: 500ms;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
